doctype html
html(lang='en')
    head
        title GameFi
        link(href=require('../assets/SCSS/style.scss') rel='stylesheet')
        link(href=require('../assets/img/сheelee-icon.png') rel='icon' type="image/png")
    body
        block content
            include ./components/header
            .content
                include ./components/top-block
                include ./components/main-block
                include ./components/bottom-block